[submodule "public"]
	path = public
	url = git@github.com:prertik/prertik.github.io.git
	branch = master
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
