[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://git.habd.as/comfusion/after-dark.git
[submodule "themes/papercss-hugo-theme"]
	path = themes/papercss-hugo-theme
	url = git@github.com:zwbetz-gh/papercss-hugo-theme.git
